#header {

    margin: 0px;
    padding-bottom: 30px;
    margin-top: 0px;
    padding-top: 10px;
    padding-left: 3px;
    background-color: #cfd2db;


}



.logo {
    height: 80px;
    


}

body {
    margin: 0;

}

.banner {
    width: 100%;
    margin: 0px auto;
    height: 500px;

}

h1 {
    text-align: center;
    font-family: sans-serif;
}

p {
    font-size: 15px;
    font-weight: 700;
    margin-top: 0;
}

.team {
 
    height: 300px;
}

h2 {
    text-align: center;
}

#About {
    display: flex;
    width: 100%;
    margin-left: 50px;

}

.discribtion {

    width: 50%;
    margin-right: 20px;

}

.team-image {

    width: 50%;
}

.jobs {

    margin: 0 auto;
    width: 800px;


}

.apply {
    float: right;
    font-size: 20px;
   

}

h3 {
    margin-bottom: 5px;
    color: rgb(235, 151, 91);
}

.footer {
    text-align: center;

    margin: 10px;
}

.footer li {
    display: inline;
    margin: 10px;
}

a {
    text-decoration: none;
}

.copyright {
    color: gray;
    font-weight: bold;
}
.button{
    background-color: rgb(9, 100, 136);
    border: none;
    border-style: solid;
    border-width: 1px;
   border-radius: 3pc;
   width: 100px;
   height: 30px;
   color: white;

}